html, body {
  height: 100%;
  width: 100%;
}

:root {
  --bg: #fefefe;
  --fg: #373435;
  --hi: #ed3237;
}

[data-theme="dark"] {
  --fg: #fefefe;
  --bg: #373435;
  --hi: #ed3237;
}

body {
  margin: 0 auto;
  font-weight: bold;
  font-family: 'Arial';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  color: var(--fg);
}

a {
  cursor: pointer;
}

img {
  max-width: 100vw;
  max-height: 100vh;
  cursor: pointer;
}

#editor {
  font-size: 3em;
  min-height: 150px;
  overflow: auto;
  resize: vertical;
  outline: none;
  text-align: center;
  width: 100%;
}

.ui {
  display: none;
}

body:hover .ui {
  display: block;
}

.toolbar {
  text-align: center;
  position: fixed;
  top: 0.25em;
}

#attribution {
  text-align: center;
  position: fixed;
  bottom: 1em;
  color: #888;
  line-height: 1.5em;
}

#attribution a {
  color: var(--hi);
}

#theme-switch-wrapper {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
}

#theme-switch-wrapper i {
  font-size: 3em;
}

#theme-switch-wrapper input {
  display: none;
}

.toolbar a,
.fore-wrapper,
.back-wrapper {
  border: 1px solid #AAA;
  background: #FFF;
  font-family: 'Candal';
  border-radius: 1px;
  color: black;
  padding: 5px;
  width: 1.5em;
  margin: -2px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0px 1px 0px #CCC;
}

.toolbar a:hover,
.fore-wrapper:hover,
.back-wrapper:hover {
  background: #f2f2f2;
  border-color: #8c8c8c;
}

a[data-command='redo'],
a[data-command='strikeThrough'],
a[data-command='justifyFull'],
a[data-command='insertOrderedList'],
a[data-command='outdent'],
a[data-command='p'],
a[data-command='superscript'] {
  margin-right: 5px;
  border-radius: 0 3px 3px 0;
}

a[data-command='undo'],
.fore-wrapper,
a[data-command='justifyLeft'],
a[data-command='insertUnorderedList'],
a[data-command='indent'],
a[data-command='h1'],
a[data-command='subscript'] {
  border-radius: 3px 0 0 3px;
}

a.palette-item {
  height: 1em;
  border-radius: 3px;
  margin: 2px;
  width: 1em;
  border: 1px solid #CCC;
}

a.palette-item:hover {
  border: 1px solid #CCC;
  box-shadow: 0 0 3px #333;
}

.fore-palette,
.back-palette {
  display: none;
}

.fore-wrapper,
.back-wrapper {
  display: inline-block;
  cursor: pointer;
}

.fore-wrapper:hover .fore-palette,
.back-wrapper:hover .back-palette {
  display: block;
  float: left;
  position: absolute;
  padding: 3px;
  width: 160px;
  background: #FFF;
  border: 1px solid #DDD;
  box-shadow: 0 0 5px #CCC;
  height: 70px;
}

.fore-palette a,
.back-palette a {
  background: #FFF;
  margin-bottom: 2px;
}
